nav{
    height: 70px;
    width: 100%;
    background-color: aqua;
}
footer{
    background-color: chartreuse;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}